body {
  line-height: 1.5;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333;
  background: #ededed;
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222736;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}



/* header area css
============================================================================================ */
.is-sticky .header-area {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 10px 0;
  z-index: 999;
}

.header-area .logo {
  display: block;
  text-align: left;
}

.cta-btns {
  text-align: right;
}

.cta-btns .subscribe-btn {
  clip-path: polygon(0% 0%, 80% 0%, 89% 50%, 82% 100%, 0% 100%);
  width: 100px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background: #ff815a;
  border-radius: 10px 0 0 10px;
  padding-right: 10px;
}

.cta-btns .save-btn {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 3% 100%, 15% 50%, 0% 0%);
  width: 60px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding-left: 8px;
  background: #888786;
  border-radius: 0 10px 10px 0;
  margin-left: -18px;
}

/* banner area css
============================================================================================ */
.banner-area {
  margin-bottom: 10px;
}

.single-banner-item {
  background: url(./banner-bg.png) center no-repeat;
  background-size: cover;
  height: 400px;
}

.owl-carousel.banner-area .owl-dots {
  text-align: center;
  margin-top: -30px;
  z-index: 9999999;
  position: relative;
}

.owl-carousel.banner-area .owl-dots div {
  height: 10px;
  width: 10px;
  background: #fff;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: .8;
}

.owl-carousel.banner-area .owl-dots div.active {
  width: 25px;
  background: #fff;
  border-radius: 50px;
  opacity: 1;
}

/* rating area
============================================================================================ */
.ratings-area {
  text-align: center;
  background: #fff;
  padding: 15px 0 5px;
  margin-bottom: 8px;
}

.single-rate-content h6 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
}

.single-rate-content span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: #f4585b;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
}

.ratings-area .nav-tabs {
  margin-bottom: 10px;
  border: none;
  display: inline-flex;
}

.ratings-area .nav-tabs .nav-link {
  border: 0;
  padding: 5px;
}

.ratings-area .nav-tabs .nav-link img {
  max-width: 28px;
}

.ratings-area .nav-tabs .nav-link.active img {
  transform: scale(1.5);
}

.single-rate-content.rate-content2 span {
  background: #f3766e;
}

.single-rate-content.rate-content3 span {
  background: #f9a26a;
}

.single-rate-content.rate-content4 span {
  background: #fbb267;
}

.single-rate-content.rate-content5 span {
  background: #fbcc65;
}

.single-rate-content.rate-content6 span {
  background: #fbe65c;
}

.single-rate-content.rate-content7 span {
  background: #eaed6a;
}

.single-rate-content.rate-content8 span {
  background: #b8db7c;
}

.single-rate-content.rate-content9 span {
  background: #89cd82;
}

.single-rate-content.rate-content10 span {
  background: #5cc056;
}

/* service area
============================================================================================ */
.service-area {
  background: #fff;
  padding: 10px 0 5px;
  margin-bottom: 8px;
  padding-right: 20px;
}
.service-area.healthy-vitals {
  background: #f8f8f8;
}

.service-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-title img {
  margin-right: 10px;
}

.single-service-item {
  position: relative;
  border: 2px solid #a6abf0;
  display: block;
  padding: 9px 10px;
  border-radius: 7px;
  padding-left: 38px;
  margin-bottom: 5px;
  margin-right: -20px;
}

.single-service-item:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #a6abf0;
  content: "";
  border-radius: 7px 0 0 7px;
}

.single-service-item img {
  position: absolute;
  left: 12px;
  top: 6px;
}

.single-service-item p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 5px;
  color: #222736;
}

.single-service-item.service-item2 {
  border: 2px solid #f296f6;
}

.single-service-item.service-item2:before {
  background: #f296f6;
}

.single-service-item.service-item3 {
  border: 2px solid #dcabd6;
}

.single-service-item.service-item3:before {
  background: #dcabd6;
}

.single-service-item.service-item4 {
  border: 2px solid #fabfad;
}

.single-service-item.service-item4:before {
  background: #fabfad;
}

.single-service-item.service-item5 {
  border: 2px solid #d5a1f8;
}

.single-service-item.service-item5:before {
  background: #d5a1f8;
}

.single-service-item.service-item6 {
  border: 2px solid #2eccfe;
}

.single-service-item.service-item6:before {
  background: #2eccfe;
}

/* quality-assurance area
============================================================================================ */
.quality-assurance {
  padding-bottom: 10px;
}

.quality-assurance .single-service-item {
  text-align: right;
  border: 2px solid #5cc056;
  padding-left: 10px;
  padding-right: 38px;
}

.quality-assurance .single-service-item p {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 5px;
}

.quality-assurance .single-service-item img {
  position: absolute;
  left: auto;
  right: 12px;
  top: 6px;
}

.quality-assurance .single-service-item:before {
  display: none;
}

.quality-assurance .single-service-item:after {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #5cc056;
  content: "";
  border-radius: 0 7px 7px 0;
}

.collapse-items {
  display: none;
}

.arrow-down {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 3px 23px rgba(174, 174, 174, 0.3);
  display: inline-block;
  border-radius: 50%;
  margin-top: 10px;
}

.arrow-up {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 3px 23px rgba(174, 174, 174, 0.3);
  border-radius: 50%;
  margin: 10px auto 0;
  display: none;
}

.arrow-down i.fa {
  color: #5cc056;
}

.arrow-up i.fa {
  color: #5cc056;
}

/* map area
============================================================================================ */
.map-area {
  padding: 10px 0 0;
  background: #fff;
}

.map-area .service-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.map-area .service-title h5 {
  margin-bottom: 0;
}

.map-area .service-title img {
  margin-right: 10px;
}

.map-area .col-md-12 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.map-area .map-wrap img {
  width: 100%;
  height: auto;
}

/* quick fact */
.quick-facts {
  padding: 15px 0;
  background: #ececec;
}

.quick-fact-wrap {
  display: flex;
}

.quick-fact-content {
  margin-left: 10px;
}

.quick-fact-content h6 {
  font-size: 16px;
  margin-bottom: 5px;
}

.quick-fact-content p {
  margin-bottom: 0;
}

/* location  */
.location {
  position: relative;
  padding: 15px 0;
}

.single-location-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.single-location-item p {
  margin-bottom: 0;
  font-size: 15px;
  margin-left: 10px;
}

.location-inner {
  position: relative;
  padding: 0 15px;
}

.location-inner:before {
  position: absolute;
  left: 33px;
  top: 10px;
  height: 80%;
  width: 3px;
  content: "";
  background: #949494;
}

.circle-logo {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}

/* footer area
============================================================================================ */
.footer-area {
  padding: 40px 0 20px;
  text-align: center;
}

.footer-area .cta-btns {
  text-align: center;
  background: #fff;
  display: inline-block;
  border-radius: 15px;
}

.footer-area .cta-btns .subscribe-btn {
  clip-path: polygon(0% 0%, 80% 0%, 89% 50%, 82% 100%, 0% 100%);
  width: 150px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  border-radius: 15px 0 0 15px;
}

.footer-area .cta-btns .save-btn {
  width: 87px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 3% 100%, 15% 50%, 0% 0%);
  border-radius: 0 15px 15px 0;
  margin-left: -25px;
}

.footer-area .copyright {
  margin-top: 10px;
  text-align: center;
}


/* responsive area
============================================================================================ */
@media (max-width: 767px) {
  .single-banner-item {
    height: 350px;
  }
}

@media (max-width: 575px) {
  .header-area .col-sm-4 {
    width: 40%;
  }

  .header-area .col-sm-8 {
    width: 60%;
  }

  .service-area .col-sm-6 {
    width: 50%;
  }
}


@media (max-width: 400px) {
  .ratings-area .nav-tabs .nav-link img {
    max-width: 24px;
  }
}

@media (max-width: 374px) {
  .ratings-area .nav-tabs .nav-link img {
    max-width: 19px;
  }
}

@media (max-width: 330px) {
  .single-service-item p {
    font-size: 13px;
  }

  .single-service-item img {
    top: 10px;
  }

  .quality-assurance .single-service-item img {
    top: 10px;
  }
}

@media (max-width: 320px) {}
